@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  @responsive {
    .dark-blue {
      background-color: #222831;
    }

    .dark-light-blue {
      background-color: #2d4059;
    }

    .dark-black {
      background-color: #393e46;
    }
  }
}
